.input_block{
  position: relative;
  input:not([type="checkbox"]){
    font-size: $input_font_size;
    line-height: $input_line_height;
    position: relative;
    font-family: $font_medium;
    padding: 8px 20px 8px 40px;
    border-radius: 15px;
    outline: none!important;
    border: 1px $grey solid;
    color: $black;
  }
  i{
    color: $grey;
    position: absolute;
    left: 15px;
    line-height: 43px;
  }
  & > .checkbox{
    width: 20px;
    height: 20px;
    position: relative;
    input{
      cursor: pointer;
      opacity: 0;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      position: absolute;
      z-index: 5;
    }
    label{
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 3px $libui-blue solid;
      border-radius: 5px;
    }
    input:checked + label{
      &:after{
        content: "\e901";
        font-family: "icomoon";
        position: absolute;
        top: 0;
        font-weight: 900;
        left: -1px;
        font-size: 8px;
        width: 17px;
        color: #ea0202;
        height: 17px;
        text-align: center;
        line-height: 15px;
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}