//Colors
$grey: #ccc;
$black: #000;
$libui-blue: lighten(#151b3d, 60%);

// Fonts
$font_light: 'Montserrat-Light';
$font_regular: 'Montserrat-Regular';
$font_medium: 'Montserrat-Medium';
$font_bold: 'Montserrat-Bold';

// Size
$input_font_size: 14px;
$input_line_height: 26px;

$p_size: 14px;
$p_line_height: 26px;

$title_size: 16px;
$title_line_height: 26px;

$h1: 20px;
$h2: 20px;
$h3: 20px;
$h4: 20px;